:root {
  --beige: #b0a695;
  --beige_hover: #776b5d;
  --bg: #f0ebe3;
  --bg_card: #f9f5f1;
  --bg_small_element: #f8f6f4;
  --demo: #ede8d0;
}

* {
  font-family: "Poppins", sans-serif;
}

.h-font {
  font-family: "Playfair Display", serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.custom-bg {
  background-color: var(--beige);
  border: 1px solid var(--beige);
}
.custom-bg:hover {
  background-color: var(--beige_hover);
  border-color: var(--beige_hover);
}

.bg-color {
  background-color: var(--bg);
}

.bg-card {
  background-color: var(--bg_card);
}

.card-color {
  background-color: var(--bg_card);
}

.bg-small-card {
  background-color: var(--bg_small_element);
}

.h-line {
  width: 150px;
  margin: 0 auto;
  height: 1.7px;
}

.custom-alert {
  position: fixed;
  top: 80px;
  right: 25px;
}

#dashboard-menu {
  position: fixed;
  height: 100%;
  z-index: 11;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(36, 36, 36);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media screen and (max-width: 991px) {
  #dashboard-menu {
    height: auto;
    width: 100%;
  }
  #main-content {
    margin-top: 60px;
  }
}
